.content{
    padding: 3% 8%;

    h1{
        margin-bottom: 2%;
        color: red;
    }

    .row{
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: auto;
        margin-bottom: 5%;

        .content-card{
            margin-right: 5%;

            .card{
                width: 18rem;

                .line-btn{
                    display: flex;
                    justify-content: space-between;

                    .btn:hover{
                        cursor: pointer;
                    }
                }

            }
        }        
    }
}


